*{
    margin: 0;
    padding: 0;
} 

#grid {
    background: pink;
    color: white;
    display: grid;
    font-size: 50px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    /* gap: 20px; */
    height: 1000px;
    justify-content: center;
    text-align: center;
    width: auto;
}

#grid :hover{
    background-color: crimson;
}

.div1 {
    background: black;
    height: 200px;
    grid-row :1 ;
    grid-column: 1;
}


.div2 {
    background: rgb(7, 193, 41);
    height: 200px;
    grid-row :2 ;
    grid-column: 2;
}

.div3 {
    background: blueviolet;
    height: 200px;
    grid-row :3 ;
    grid-column: 3;
}

.div4 {
    background: chocolate;

    height: 200px;
    grid-row :2 ;
    grid-column: 4;
}

.div5 {
    background: darkred;

    height: 200px;
    grid-row : 1;
    grid-column: 5;
}

.div6 {
    background: fuchsia; 
    height: 200px;
    grid-row :4 ;
    grid-column: 2;
}

.div7 {
    background: lightcoral;
    height: 200px;
    grid-row :5 ;
    grid-column: 1;
}

.div8 {
    background: mediumseagreen;
    height: 200px;
    grid-row :4 ;
    grid-column: 4;
}

.div9 {
    background: skyblue;
    height: 200px;
    grid-row : 5;
    grid-column: 5;
}
