*{
    margin: 0;
    padding: 0;
} 
 #grid {
    display: grid;
    color: white;
    font-size: 30px;
    /* grid-template-columns: repeat(3,fr); */
    /* grid-template-rows: 1fr 1fr 1fr; */
    column-gap: 20px;
    gap: 20px;
    grid-template-areas: 
    "header header header"
    "footer footer footer"
    "main aside ad"

 }

header {
    grid-area : header ;
    background: yellow;
    color: black;
    padding: 50px;
}

main {
    grid-area : main ;
    color: black;
    background: green;
    padding: 50px;
}
div {
    grid-area : ad ;
    color: black;
    background: aqua;
    padding: 50px;
}
aside {
    grid-area : aside;
    background: black;
    padding: 50px;
}

footer {
    grid-area :footer ;
    background: blue;
    padding: 50px ;
} 